/*
/*       Range slider
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 105px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ccc;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 20px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #9ca4af; 
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 15px;
    background: #ccc;
}

::-moz-range-thumb {
    background: #fff;
    height: 15px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #007aff;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #007aff;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 15px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ccc;
    color: transparent;
    height: 15px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}



/*
/*       Change color of range sliders based on their id
 */
#range_R::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #ff2d55; 
}

#range_G::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #4cd964; 
}

#range_B::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 100vw #007aff; 
}

/*
/*       Round Switch
 */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 22px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: -3px;
    background-color: rgb(150, 150, 150);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4cd964;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4cd964;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
    
  }
